body {
    background-color:blanchedalmond;
}
.border{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Kucing {
    border-top: 2px #333;
}

p {
    color: #666;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}


#judul {
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    text-align: center;
    margin: 0;
    font-size: 20pt;
    background-color: brown;
}

table{
    display: inline-block;
}

jdl {
    text-align: center;
}

#member{
    width: 100px;
    display: inline-block;
}

#mjenis{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#mwarna{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#mnama{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.left-div{
    width: 100px;
    display: inline-block;
}

.right-div{
    display: inline-block;
}
